body {
  background-color: #fefbd8;
  padding: 30px;
  color: white;
}
nav {
  padding: 30px;
  background-color: #618685;
  posotion: sticky;
  top: 0;
  text- shadow: 1px 1px 0 #444;
  color: white;
}
header {
  padding: 30px;
  height: 70%;
  background-image: url('https://images.unsplash.com/photo-1518704512655-a5a68b5f0ce5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f1ef614064a441cc9b3b4a63f0e356ea&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
H1 {
  text-align: center;
}
main {
 padding-top: 15px; 
}
aside {
 padding: 30px;
  background-color: #4040a1;
  color: white;
}
article {
  padding: 30px;
  background-color: #4040a1;
  color: white;
}
footer {
 padding: 30px;
 background-color: #36486b;
 color: white;
}
